.boton{
    padding: 10px;
    margin: 20px;
    width: 150px;
    height: 80px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 8px black;
    transition: all 0.2s ease-in;
}

.menos{
    background-color: rgb(247, 233, 45);
}
.menos:hover{
    background-color: rgb(240, 235, 166);
    color: red;
}
.reset{
    background-color: rgb(52, 112, 241);
}
.reset:hover{
    background-color: rgb(94, 141, 245);
}

.mas{
    background-color: rgb(44, 184, 44);
}
.mas:hover{
    background-color: rgb(109, 216, 109);
}

.boton:hover{
    cursor: pointer;
    transform: scale(1.1);
}