.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  height: 10vmin;
  pointer-events: none;
  filter: drop-shadow(2px 1px 8px #B2DF28);
  margin-top: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  box-shadow: 0 0 30px #B2DF28;
  background-color: black;
  width: 800px;
  margin: auto;
  padding-bottom: 50px;
  border-radius: 8px;
  margin-top: 4rem;
}

.titulo{
  font-size: 90px;
  /* text-shadow: 5px 5px 5px rgb(141, 136, 136); */
  color: #00AFC7;
  -webkit-text-stroke: 0.8px #B2DF28;
  text-shadow: 0px -2px 10px #B2DF28;
  margin-bottom: -80px;
  margin-top: -10px;
}
/* .titulo:hover{
  text-shadow: 0px -2px 10px #B2DF28;
} */

.numero{
  font-size: 200px;
  /* text-shadow: 5px 5px 5px rgb(141, 136, 136); */
  color: #00AFC7;
  -webkit-text-stroke: 0.8px #B2DF28;
  text-shadow: 0px -2px 10px #B2DF28;
  margin-bottom: 6rem;
}

.boton{
  padding: 10px;
  margin: 20px;
  width: 150px;
  height: 80px;
  font-size: 25px;
  font-weight: 800;
  border-radius: 8px;
  /* border: 0; */
  box-shadow: 0 0 19px #B2DF28;
  transition: all 0.2s ease-in;
  border-color: #B2DF28;
  border-width: 1px;
  border-style: solid;
  color: white;
}

.menos{
  background-color: #00AFC7;
}
.menos:hover{
  background-color: #0894a7;
}
.reset{
  background-color: #00AFC7;
}
.reset:hover{
  background-color: #0894a7;
}
.mas{
  background-color: #00AFC7;
}
.mas:hover{
  background-color: #0894a7;
}

.boton:hover{
  cursor: pointer;
  transform: scale(1.1);
}